@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
  --dark: #241715;
  --gray: #3d3d3d;
  --light: #f4fffd;
  --primary: #4e598c;
  --error: #e1cfd2;
  --primary-font: "Nunito", sans-serif;
}

body {
  color: var(--dark);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: white;
background-image: url("https://www.transparenttextures.com/patterns/old-map.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 700;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
